p {
  color: blue;
}
h1 {
  color: #0ee93d;
  background-color: hotpink;
}
body {
  background-image: url(https://avatars.mds.yandex.net/get-mpic/1961245/img_id4472447317041340343.jpeg/13hq);
}
